:root {
  /* access variables with "var(--primary-color)" */
  --primary-color: #004aad;
  --secondary-color: #ffde59;
  --default-font-size: 18px;
  --small-font-size: 12px;
  --big-font-size: 36px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Arimo", sans-serif;
  font-size: var(--default-font-size);
  background-color: var(--gray-2);
  color: black;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
textarea,
select {
  font-family: inherit;
  background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: black;
}

#root,
#__next {
  isolation: isolate;
}
.btn-auth {
  font-size: var(--font-size-fluid-0);
  background-color: white;
  color: black;
  transition: var(--ease-squish-2) 0.3s;
  border-radius: var(--radius-2);
  padding: 1.4%;
  margin-block: 5.5%;
  width: 64%;
  text-align: center;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
}

.btn-auth,
.btn-discover,
.nav-auth > button {
  transition: var(--ease-in-out-2) 0.2s;
}

.btn-auth:hover,
.btn-discover:hover,
.nav-auth > button:hover {
  background-color: var(--blue-2);
  font-weight: 600;
  transform: scale(1.1);
}

header {
  width: 100%;
  background-color: var(--indigo-9);
  max-height: 30vh;
  padding: 24px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-auth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  text-align: center;
}

.nav-auth > h4 {
  font-size: var(--font-size-fluid-1);
}

.nav-auth > button {
  padding: 1.6%;
  margin: var(--size-fluid-1);
  font-size: var(--font-size-fluid-0);
}

.header-branding {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: var(--size-fluid-7);
  border-radius: var(--radius-blob-4);
  cursor: pointer;
}

.header-slogan {
  text-align: center;
  font-size: var(--font-size-fluid-0);
  font-weight: 900;
  margin: 12px;
  color: white;
}

.header-card {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  width: var(--size-fluid-8);
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-2);
}

.header-card:nth-child(1) {
  background-color: var(--pink-2);
}

.header-card:nth-child(2) {
  background-color: var(--orange-3);
}

.header-card > h3 {
  font-size: var(--font-size-fluid-1);
  font-weight: 800;
  margin-block: 12px;
}

.header-card > button {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  width: var(--size-fluid-6);
  padding: 2%;
  margin-block: 1.5vh;
  border-radius: var(--radius-2);
  font-size: var(--font-size-fluid-0);
}

.section-description {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 1.2vw 1vw 1vw 0.2vw;
}

.description-heading {
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: var(--radius-2);
  width: 70vw;
  max-width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: 8px;
}

.description-heading > h1 {
  font-size: var(--font-size-fluid-3);
  text-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
}

.description-heading > button {
  width: 50%;
  max-width: 300px;
  padding-block: 1vh;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  border-radius: var(--radius-2);
  margin-block: 3vh;
  font-size: var(--font-size-fluid-1);
}

.description-content {
  background-color: var(--gray-1);
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  margin: 8px;
  width: var(--size-content-3);
}

.description-content > p {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-fluid-0);
}

.section-feature {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px;
  margin: 2vw;
}

.category-heading,
.featured-business-heading,
.business-heading {
  color: white;
}

.category-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 16px;
  margin-top: 2vh;
  margin-bottom: 7vh;
  padding: 2vw;
}

.category {
  background-color: var(--violet-2);
  color: black;
  border-radius: var(--radius-2);
  display: grid;
  place-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-fluid-1);
}

.category:hover,
.featured-business:hover,
.business:hover {
  background-color: var(--blue-2);
}

.featured-business-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--size-fluid-8);
  gap: 12px;
  padding: 2vw;
  margin-block: 2vh;
}

.featured-business {
  background-color: var(--violet-2);
  border-radius: var(--radius-2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.featured-business-image-wrapper {
  width: 100%;
  height: 76%;
}

.featured-business-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius-2) var(--radius-2) 0 0;
  opacity: 0.7;
}

.featured-business-info {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 var(--radius-2) var(--radius-2);
  margin: 5% 2% 0 2%;
  font-size: var(--font-size-fluid-0);
  font-weight: 600;
  text-align: center;
}

/* .section-businesses {} */

.business {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: var(--radius-2);
  cursor: pointer;
}

.business-image-wrapper {
  width: var(--size-content-1);
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
}

.business-description {
  width: 70%;
  margin-left: 6%;
}

.business-profile {
  background-color: var(--orange-4);
  color: black;
  width: 100%;
  border-radius: var(--radius-2);
  padding: 1.6%;
}

fieldset {
  margin: 2%;
  border: none;
}

input {
  cursor: default;
  outline: thin;
  margin: 8px;
  padding: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

textarea {
  cursor: default;
  outline: thin;
  resize: vertical;
  min-height: 100px;
  max-height: 220px;
  line-height: var(--font-lineheight-3);
  margin: 8px;
  padding: 12px;
  font-size: var(--font-size-fluid-0);
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.appointment-heading {
  margin: 8px;
  padding: 8px;
  font-size: var(--font-size-fluid-1);
  font-weight: 800;
}

.input-date-wrapper,
.input-notes-wrapper {
  padding: 12px;
  max-width: 80%;
  cursor: default;
}

.input-date-wrapper > div {
  margin: 6px;
}

.input-notes-wrapper > div {
  display: flex;
  flex-direction: column;
}

.btn-create-appointment {
  margin-left: 2.4%;
  width: 60%;
  transition: var(--ease-squish-2) 0.2s;
}

.btn-create-appointment:hover {
  background-color: var(--blue-2);
}

.auth-wrapper {
  transform: translateY(10vh);
}

/* NON-DESKTOP */
@media (max-width: 768px) {
  .btn-auth {
    margin-block: 16px;
  }

  .section-description {
    flex-direction: column;
    align-items: center;
  }

  .section-description > * {
    width: 90vw;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
